{% extends 'base.html' %}
{% load static %}

{% block content %}
{%include 'header.html'%}
<h1>ALL PRODUCTS</h1>
<br>
<button><a href="{%url 'add_product' %}">Add Product</a></button>
<table>
    <tr>
        <td>Name</td>
        <td>View</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    {%for i in pro%}
    <tr>
        <td><p>{{i.name}}</p>
            <img src="{{i.image.url}}" alt="" height="100px ;width=100px">
        </td>
        <td><a href="{%url 'proinfo' i.id%}">View</a></td>
        <td><a href="{%url 'pro_edit' i.id%}">Edit</a></td>
        <td><a href="{%url 'pro_delete' i.id%}">Delete</a></td>
    </tr>
    {%endfor%}
</table>
<style>
    table,td{
        border: 1px solid black;
        width: 100%;
        border-collapse: collapse;
    }
    td{
        width: 20%;
    }
</style>
{%endblock%}